{% extends 'employee/base.html' %}

{%block menu%}
<a href="{% url 'employee_home' %}">Home</a>
<a href="{% url 'schedule_list' %}">Schedule</a>
<a href="{% url 'employee_add' %}">Add employee</a>
<a href="{% url 'confirm_reservations' %}">Confirm Reservations</a>
<a href="{% url 'room_list' %}">Rooms</a>
<a class="active_menu" href="{% url 'all_reservations' %}">History</a>
<a href="{% url 'deleted_reservations' %}">Deleted</a>
{%endblock%}

{% block content %}
<div class="centered_div"><h3>Reservations</h3></div>
<table class="table_data">
    <thead class="grey">
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>E-mail</th>
        <th>Country</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Room</th>
        <th>Start date</th>
        <th>End date</th>

    </tr>
    </thead>

    <tbody>
    {% for reservation in reservations %}
    <tr>
        <td>{{reservation.last_name}}</td>
        <td>{{reservation.first_name}}</td>
        <td>{{reservation.e_mail_address}}</td>
        <td>{{reservation.country_name}}</td>
        <td>{{reservation.address}}</td>
        <td>{{reservation.phone_number}}</td>
        <td>
            {% for reserved_room_number in reservation.reserved_room_number%}
            {{reserved_room_number.room_number}}
            {%endfor%}
        </td>
        <td>
            {{reservation.reserved_room.first.date}}
        </td>
        <td>
            {{reservation.reserved_room.last.date}}
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table>

{% if reservations.has_other_pages %}
<ul class="pagination">
    {% if reservations.has_previous %}
    <li><a href="?page={{ reservations.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in reservations.paginator.page_range %}
    {% if reservations.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if reservations.has_next %}
    <li><a href="?page={{ reservations.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}
