{% extends 'employee/base.html' %}

{%block menu%}
<a href="{% url 'employee_home' %}">Home</a>
<a class="active_menu" href="{% url 'schedule_list' %}">Schedule</a>
<a href="{% url 'employee_add' %}">Add employee</a>
<a href="{% url 'confirm_reservations' %}">Confirm Reservations</a>
<a href="{% url 'room_list' %}">Rooms</a>
<a href="{% url 'all_reservations' %}">History</a>
<a href="{% url 'deleted_reservations' %}">Deleted</a>
{%endblock%}

{% block content %}

<form id="form_shadow" method="post" action="" role="registration">
    {% csrf_token %}
    <h3>Schedule form</h3>
    <table class="table">
        {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
        </tr>
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}

        {% endfor %}

    </table>

    <button id="id_confirmation_button" type="submit">Submit</button>
</form>


{% endblock %}
