<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hotel System</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="/static/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>

    <script src="/static/jquery3.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="/static/daterangepicker/daterangepicker.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>


<body>
<div id="page_container">
    <div id="menu_hide">
        <div class="centered">
            {% block menu %}{% endblock %}
        </div>
    </div>
    <div id="contents">
        <div class="initiate">
            <div class="initiate_button" name="daterange"><p class="noselect">BOOK NOW</p></div>
        </div>

        <div class="navbar">
            <a href="/"><p class="noselect">LOGO</p></a>

            <div class="search-container">
                <input required id="search_id" type="text" placeholder="Reservation ID...">
                <button onclick="myFunction()"><i class="fa fa-search"> </i></button>
            </div>

        </div>

        {% block content %}{% endblock %}
    </div>
    <div class="menu-button" onclick="fadeMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <script>
        function myFunction() {
            var id = document.getElementById("search_id").value;
            var location = {% url 'reservation_display_no' %} + id;
            window.location.href = location;
        }
    </script>


    <script type="text/javascript">
        $(function () {
            $('div[name="daterange"]').daterangepicker(
                {
                    autoUpdateInput: false,
                    "minDate": "{% now "m d Y" %}",
                    "opens": "center"
                }
            );
            $('div[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
                location.href = '/reservation/' + picker.startDate.format('YYYY-MM-DD') + '/' + picker.endDate.format('YYYY-MM-DD');
            });
            $('div[name="daterange"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>

    <script>
        function fadeMenu(x) {
            x.classList.toggle("change");
            var y = document.getElementById("menu_hide");
            if (y.style.display === "block") {
                y.style.display = "none";
            } else {
                y.style.display = "block";
            }
            y.classList.toggle("show")
        }
    </script>
    <footer>
        <div class="container">
            <div>
                <ul class="footer_list">
                    <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-reddit fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                </ul>
            </div>
        </div>

        <p>Copyright © {% now "Y" %} Company Name<br>
            Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet
        </p>
    </footer>
</div>
</body>


</html>