<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hotel System</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="/static/jquery3.js"></script>
    <script src="/static/main.js"></script>
</head>


<body>

<div id="menu-hide">
    <div class="centered">
        <a href="/" class="active">Нүүр Хуудас</a>
        <a href="/">Бидний тухай</a>
        <a href="/">Ажлын байр</a>
        <a href="/">Холбоо барих</a>
    </div>
</div>

<div id="contents">
    <div class="navbar">
        <a href="/">Hotel</a>
    </div>
    <h1>{% block header_text %}{% endblock %}</h1>
    {% block content %}{% endblock %}
    <p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>
<p>Some text some text some text some text..</p>

</div>

<div class="menu-button" onclick="fadeMenu(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>


<script>
function fadeMenu(x) {
    x.classList.toggle("change");
    var x = document.getElementById("contents");
    var y = document.getElementById("menu-hide");
    if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
        document.body.style.background = "white";
    } else {
        x.style.display = "none";
        y.style.display = "block";
        document.body.style.background = "#F6E9DC";
    }
}
</script>

</body>


</html>