{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
<input type="text" name="daterange" value="Submit"/>

<script type="text/javascript">
$(function()
{
    $('input[name="daterange"]').daterangepicker(
    {
    "startDate": "{% now "d m Y" %}",
    "endDate": "{% now "d m Y" %}",
    "minDate": "{% now "d m Y" %}",
    "opens": "center"
},
function(start, end, label)
{location.href = '/reservation/' + start.format('YYYY-MM-DD') + '/' + end.format('YYYY-MM-DD');}

);;
});
</script>

{% endblock %}